[user]
  name = otukutun
  email = otukutun@gmail.com
[core]
  editor = /usr/bin/vim
  excludesfile = ~/.gitignore_global
  ignoreCase = false
[color]
  ui = auto
[push]
  default = simple
[pull]
  rebase = false
[init]
  defaultBranch = main
